<div class="row" ng-controller="DashboardCtrl" >
	<div class="col-md-12">
		<highcharts id="top-attacker" type="line" value="topAttackerConfig" height="400" chart-obj="chartObj"></highcharts>
	</div>
	<!-- <div class="col-md-6">
		<highcharts id="top-destination" type="area" value="topDestinationConfig" height="400" chart-obj="chartObj"></highcharts>
	</div> -->
	<div class="col-md-6">
		<highcharts id="top-event" type="bar" value="topEventConfig" height="400" chart-obj="chartObj"></highcharts>
	</div>
	<div class="col-md-6">
		<highcharts id="top-protocol" type="pie" value="topProtocolConfig" height="400" chart-obj="chartObj"></highcharts>
	</div>
</div>