<div class="row" ng-controller="EventsCtrl">
	<div class="col-md-12">
		<accordion close-others="oneAtATime">
     
      <accordion-group ng-repeat="event in events">
        <accordion-heading>
                <% event.timestamp %> yaya
                </accordion-heading>
        <table class="table table-condensed table-bordered">
          <tr>
            <td>Source IP</td>
            <td>Destination IP</td>
            <td>Version IP</td>
            <td>Header Length</td>
            <td>TOS</td>
            <td>Datagram Length</td>
            <td>Id</td>
            <td>Flags</td>
            <td>Fragment Offset</td>
            <td>TTL</td>
            <td>Protocol</td>
            <td>Checksum</td>
          </tr>
          <tr>
            <td><% event.sourceIp %></td>
            <td><% event.destinationIp %></td>
            <td><% event.versionIp %></td>
            <td><% event.headerLength %></td>
            <td><% event.tos %></td>
            <td><% event.datagramLength %></td>
            <td><% event.id %></td>
            <td><% event.flags %></td>
            <td><% event.fragmentOffset %></td>
            <td><% event.ttl %></td>
            <td><% event.protocol %></td>
            <td><% event.checksum %></td>
          </tr>
        </table>

        <h3>Singature</h3>
        <table class="table table-condensed table-bordered">
            <tr>
                <td>Name</td>
                <td>Classification</td>
                <td>Priority</td>
                <td>Revision</td>
            </tr>
             <tr>
                <td>Name</td>
                <td>Classification</td>
                <td>Priority</td>
                <td>Revision</td>
            </tr>
        </table>

        <h3>TCP Header</h3>
         <table class="table table-condensed table-bordered">
            <tr>
                <td>Source Port</td>
                <td>Destination Port</td>
                <td>Sequence Number</td>
                <td>ACK Number</td>
                 <td>Offset</td>
                <td>Reserved</td>
                <td>Flags</td>
                <td>Window</td>
                 <td>Checksum</td>
                <td>Urgent Pointer</td>
            </tr>
             <tr>
                <td>Source Port</td>
                <td>Destination Port</td>
                <td>Sequence Number</td>
                <td>ACK Number</td>
                 <td>Offset</td>
                <td>Reserved</td>
                <td>Flags</td>
                <td>Window</td>
                 <td>Checksum</td>
                <td>Urgent Pointer</td>
            </tr>
        </table>

        <h3>Data Payload</h3>
        <table class="table table-condensed table-bordered">
            <tr>
                <td>Hex</td>
                <td>ASCII</td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                
            </tr>
        </table>

      </accordion-group>
      
    </accordion>
	</div>
</div>