
<nav class="navbar mg-menu" ng-controller="MenuCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
			Logo 
			</div>
		</div>

		<accordion close-others="oneAtATime">
			
			
			<accordion-group>
				<accordion-heading>
					<span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;
					Dashboard
				</accordion-heading>
				<ul class="nav nav-pills nav-stacked">
					<li class="active"> 
						<a href="#dashboard">
							Dashboard
						</a>
					</li>
					<li><a href="#dashboard/advanced">Advanced Dashboard</a></li>
				</ul>
			</accordion-group>
			
			<accordion-group>
				<accordion-heading>
					<span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;
					Monitoring
				</accordion-heading>
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#monitoring/event">Events</a></li>
					<li><a href="#monitoring/event">Categorization</a></li>
					<li><a href="#monitoring/report">Report</a></li>
				</ul>
			</accordion-group>

			<accordion-group>
				<accordion-heading>
					<span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;
					Map
				</accordion-heading>
				<ul class="nav nav-pills nav-stacked">
					
					<li><a href="#map">Map</a></li>
				</ul>
			</accordion-group>

			<accordion-group >
				<accordion-heading>
					<span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;
					Sensors
				</accordion-heading>
				<ul class="nav nav-pills nav-stacked">
					
					<li><a href="#sensors">Sensors</a></li>
					<li><a href="#sensor/rules">Rules</a></li>

				</ul>
			</accordion-group>

			<accordion-group>
				<accordion-heading>
					<span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;
					Settings
				</accordion-heading>

				<ul class="nav nav-pills nav-stacked">
					
					<li><a href="#setting/users">Users</a></li>
					

				</ul>
			</accordion-group>

			
		</accordion>
	</div>
</nav>